# Trabalho de Conclusão de Curso - Projeto Final

# BI MASTER - BUSINESS INTELLIGENCE MASTER - 
# SISTEMAS INTELIGENTES DE APOIO À DECISÃO EM NEGÓCIOS 

## Aluno: Fábio Mendonça dos Santos

## Matricula: 201.190.260 

## Orientador : Professor Leonardo Alfredo Forero Mendonza

# Descrição do NoteBook

Este notebook realiza em python utilizando a bibliteca tweepy 

realiza a captura de tweets no idioma inglês nos EUA e com filtro para não capturar retweets.

Os Tweets foram capturados diariamente, totalizando 15.000 por dia.

Foi utizada a versão 3.10 da API, devido a ser a mais estável.

In [ ]:
# Instala biblioteca
# !pip install tweepy
### https://stackoverflow.com/questions/38872195/tweepy-exclude-retweets
import os
import tweepy as tw
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

tw.__version__

'3.10.0'

# Mapeia o drive para ao final salvar o arquivo com os tweets

In [ ]:

import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Twitter API
API_KEY = 'L0ERPfTcb1dApshzNThtvXsV0'
SECRET_KEY = 'turPfUw6vKOJBagQKv3vJ6oDJDy6NQzrBWa8zE3pKM5WEigYbo'
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAFJaRwEAAAAAsgUM9skb052KSnVAI13pKfpq128%3D3Y7rVvkOVinjgO5HN3Wvt0o71ijK3qFZwb8quddhiVvpI69fXK'
ACCESS_TOKEN = '1341064657394675714-Bbu7xOG6HPJEyGkrbjXUxVnVQChwLm'
SECRET_TOKEN = '5CGPMtqwPVnt7Nx6iPHEcC1Jmyy9wV9FP98KDKYxHt0tC'

auth = tw.OAuthHandler(API_KEY, SECRET_KEY)
auth.set_access_token(ACCESS_TOKEN, SECRET_TOKEN)
api = tw.API(auth
             , wait_on_rate_limit=True
             , wait_on_rate_limit_notify=True
            )

In [ ]:
from datetime import date, timedelta

delta = timedelta(days=1)        # Define o intervalo de tempo para busca de tweets
start_date = date.today()        
start_date -= delta

search_term ='* -filter:retweets' ## filtra para evitar os reteews
limit = 15000

searchCountry = "USA" ## seleciona o pais 

places = api.geo_search(query=searchCountry, granularity="country") ## define que a granularidade é o pais
place_id = places[0].id

# define intervalo de datas   
date_string = start_date.strftime("%Y-%m-%d")
date_string

'2021-12-22'

In [ ]:
# Inicializa dataframe vazio para salvar todos os tweets
col_names =  ["created_date", "tweet", "username", "retweet", "nlikes", "nreplies", "nretweets", "near"]
tweets_dataframe  = pd.DataFrame(columns = col_names)

# Exibe as colunas do DataFrame

In [ ]:
tweets_dataframe

Empty DataFrame
Columns: [created_date, tweet, username, retweet, nlikes, nreplies, nretweets, near]
Index: []

# Executa a extração dos tweets utilizando os filtros

In [ ]:
ids = set()
tweet_info = []

for tweet in tw.Cursor(api.search, q= (search_term) and ("place:%s" % place_id), 
                         lang='en', since=start_date,location="USA").items(limit):
    
    if ((not tweet.retweeted) and ('RT @' not in tweet.text)) :
              
        tweet_info.append([tweet.created_at, tweet.text, 
                           tweet.user.screen_name, tweet.retweeted, 
                           tweet.favorite_count, tweet.in_reply_to_status_id,
                           tweet.retweet_count, tweet.user.location])

Rate limit reached. Sleeping for: 862
Rate limit reached. Sleeping for: 861
Rate limit reached. Sleeping for: 861
Rate limit reached. Sleeping for: 862
Rate limit reached. Sleeping for: 862

# Armazena os tweets no dataframe

In [ ]:
df = pd.DataFrame(tweet_info,columns=col_names)

df.head()

         created_date  ...                        near
0 2021-12-23 12:03:16  ...           Coral Springs, FL
1 2021-12-23 12:03:15  ...               Texas Forever
2 2021-12-23 12:03:15  ...  Philadelphia, Pennsylvania
3 2021-12-23 12:03:15  ...        Austin, TX (She/Her)
4 2021-12-23 12:03:14  ...                  Taylor, MI

[5 rows x 8 columns]

# Exibe o formato e quantidade de colunas do dataframe`

In [ ]:
df.shape

(14998, 8)

# Grava o dataframe em um arquivo *.csv

In [ ]:
path = '/content/drive/MyDrive/datasets/'
df.to_csv(path+'tweets_csv_23122021.csv', sep=';', index=False)

In [ ]:
df.tweet[0]

'@ElenaTrueba100 @sujo212 @Becky080711 @FingalNancy @soosee @JasmineeCena32 @SheaLola1 @jkranites @LakersCanes305… https://t.co/GlCWVUmw35'

In [ ]:
df.tweet[2]

'@SmallBizPhilly Love the NE but unfortunately might as well be a suburb in its relation to center city'

In [ ]:
df.tweet[3]

'bye not me being awake all night'