# Trabalho de Conclusão de Curso - Projeto Final

# BI MASTER - BUSINESS INTELLIGENCE MASTER - 
# SISTEMAS INTELIGENTES DE APOIO À DECISÃO EM NEGÓCIOS 

## Aluno: Fábio Mendonça dos Santos

## Matricula: 201.190.260 

## Orientador : Professor Leonardo Alfredo Forero Mendonza

# Descrição do NoteBook

Este notebook concatena os arquivos *.csv, com os tweets extraídos 

pelo notebook tcc_fabio_tweets_filter_retweets.ipynb em um único arquivo *.csv.

O total de registros extraídos foi de 210.303 

O arquivo gerado após a concatenação é o tweets_csv_projeto.csv

O Código foi feito utilizando o notebook do site : 

https://www.codegrepper.com/code-examples/python/pandas+read+multiple+csv+to+multiple+dataframes

As referência sobre a biblioteca glob podem ser encontradas no site:

https://www.geeksforgeeks.org/how-to-use-glob-function-to-find-files-recursively-in-python/

In [ ]:
import pandas as pd
import glob ## biblioteca para recuperar os arquivos *.csv
import warnings
import os
warnings.filterwarnings("ignore")

from google.colab import drive
drive.mount('/content/drive')


### Lista tddos arquivos *.csv com os tweets 
os.listdir("/content/drive/MyDrive/datasets")

Mounted at /content/drive

['tweets_csv_20122021.csv',
 'tweets_csv_02112021.csv',
 'tweets_csv_03112021_2.csv',
 'tweets_csv_03112021_3.csv',
 'tweets_csv_03112021.csv',
 'tweets_csv_04112021_2.csv',
 'tweets_csv_04112021_3.csv',
 'tweets_csv_04112021.csv',
 'tweets_csv_05112021_1.csv',
 'tweets_csv_05112021_2.csv',
 'tweets_csv_05112021_3.csv',
 'tweets_csv_05112021_4.csv',
 'tweets_csv_06122021.csv',
 'tweets_csv_08112021.csv',
 'tweets_csv_09112021.csv',
 'tweets_csv_10112021.csv',
 'tweets_csv_29102021.csv',
 'tweets_csv_21122021.csv',
 'tweets_csv_22122021.csv',
 'tweets_csv_23122021.csv']

# Lê todos os arquivos *.csv na pasta especificada e concatena em um único arquivo

In [ ]:
path = r'/content/drive/MyDrive/datasets/' # pasta com os arquivos *.csv extraidos


all_files = glob.glob(path + "/*.csv")   # recupera os arquivos *.csv que estão na pasta

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, engine='python',sep=';')
    li.append(df)

tweets = pd.concat(li, axis=0, ignore_index=True)
tweets.head()

          created_date  ...                     near
0  2021-12-20 18:54:55  ...               Bonita, CA
1  2021-12-20 18:54:54  ...              Houston, TX
2  2021-12-20 18:54:54  ...                     Utah
3  2021-12-20 18:54:54  ...               Dallas, TX
4  2021-12-20 18:54:54  ...  YachtRockShow@gmail.com

[5 rows x 8 columns]

In [ ]:
tweets.tail()

               created_date  ...             near
210298  2021-12-23 08:19:16  ...   Long Beach, CA
210299  2021-12-23 08:19:15  ...       Texas, USA
210300  2021-12-23 08:19:14  ...  North Gates, NY
210301  2021-12-23 08:19:14  ...             My 🏠
210302  2021-12-23 08:19:12  ...  Statesville, NC

[5 rows x 8 columns]

In [ ]:
tweets.shape

(210303, 8)

# Salva o arquivo na pasta especificada

In [ ]:
### Salva em um arquivo *.csv
path = '/content/drive/MyDrive/tweets/' # pasta com o arquivo concatenado
tweets.to_csv(path+'tweets_csv_projeto.csv', sep=';', index=False)

In [ ]:
os.listdir("/content/drive/MyDrive/tweets")  ## lista os arquivos da pasta

['tweets_csv_projeto (1).gsheet',
 'tweets_csv_classified.csv',
 'tweets_csv_projeto.csv',
 'tweets_csv_projeto.gsheet']